.assistance {
    padding-bottom: 100px;
    height: 35vh;
    position: relative;
}

.assistance-content {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin-bottom: 12px;
}

.assistance-item__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2px;
    color: #686868;
}

.assistance-content__icon {
    padding-left: 10px;
    height: 18px;
    width: 20px;
    margin-right: 6px;
}

.support {
    max-width: 300px;
    margin-right: 23px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -10%);
    bottom: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.support__title {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #232036;
}

.support__descr {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* dark grey */
    color: #686868;
}

.support__button {
    width: 100%;
    height: 40px;
    border: none;
    background: #6C639E;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
}