.header-profile__title {
    width: 93vw;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    justify-content: center;
    color: #232036;
}

.profile-container {
    padding-top: 30px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #fff;
}

.user-info-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user__photo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.user__name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #232036;
}

.user__status {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    color: #AEAEAE;
}

.list {
    display: flex;
    font-family: 'Open Sans';
    gap: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* white */
}

.list-link {
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    flex-wrap: wrap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #686868;
    border: none;
}

.list-active {
    background: #8E95C7;
    color: #FFFFFF;
}

.list-content-wrapper {
    background-color: #F6F7FF;
    padding-top: 20px;
    height: 58vh;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 100px;
}

.saved-tasks {
    height: 40px;
    margin-left: 24px;
    margin-right: 24px;
    background: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.saved-tasks__img {
    margin-left: 8px;
}

.saved-tasks__img--star {
    width: 17px;
    height: 16px;
}

.saved-tasks__img--blank {
    width: 14px;
    height: 18px;
}

.saved-tasks__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #686868;
    padding-left: 12px;
}