.wrapper {
    background: #8E95C7;
    border-radius: 0px 0px 10px 10px;
    height: auto;
    padding-top: 20px;
}

.search-container {
    width: 312px;
    margin: 0 auto;
}

.search {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.search__input {
    width: 271px;
    height: 28px;
    padding-left: 25px;
    background: #9DA4D8;
    border: none;
    border-radius: 10px;
    background-image: url("./../../img/searchIcon.svg");
    background-repeat: no-repeat;
    background-position: 5px 50%;
    margin-right: 15px;
}

.search__input::after {
    background-image: url("./../../img/searchIcon.svg");
    background-position: 0 50%;
}

.search__info-bell {
    height: 18px;
    width: 18px;
}

.button-box {
    width: 312px;
    margin: 0 auto;
    position: relative;
    border-radius: 30px;
    background: #fff;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.toggle-btn {
    padding: 10px 15px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    width: 50%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #232036;
}

#btn {
    left: 0;
    top: 0;
    position: absolute;
    width: 110px;
    height: 100%;
}

.toggle-btn--active {
    background: #FFFFFF;
    /* fill */
    border: 1px solid #E7E7E7;
    box-shadow: 1px 1px 28px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 10px;
    width: 50%;
}

.filter {
    display: flex;
    padding-bottom: 5px;
}

.filter__title {
    font-style: normal;
    margin-left: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    /* identical to box height, or 16px */
    text-align: center;
    /* white */
    color: #FFFFFF;
}

.content-container {
    position: relative;
    display: flex;
    background-color: #F5F5F5;
    padding-top: 35px;
}

.content {
    margin: 0 auto;
    margin-top: -65px;
    padding-bottom: 85px;
}

.create-card {
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    height: 100px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
}

.create-card--flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.create-card__title {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #232036;
}

.create-card--button {
    width: 100%;
}