.publication__title {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #fff;
}

.publication__container {
    padding-top: 35px;
    margin: 0 auto;
}

.publication__container>* {
    background: #F3F3F3;
}

.publication__container button {
    background: #F3F3F3;
}