.person {
    display: flex;
}

.person-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px;
}

.person-info__name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #232036;
    margin: 0;
}

.person-info__descr {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #686868;
}

.person-info__status {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #686868;
}