.wrapper {
    background: #8E95C7;
    border-radius: 0px 0px 10px 10px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 25px;
}

.search-container {
    width: 312px;
    margin: 0 auto;
}

.search {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.search__input {
    width: 271px;
    height: 28px;
    padding-left: 25px;
    background: #9DA4D8;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-image: url("./../../img/searchIcon.svg");
    background-repeat: no-repeat;
    background-position: 5px 50%;
    margin-right: 15px;
}

.search__input::placeholder {
    color: #686868;
}

.search__input::after {
    background-image: url("./../../img/searchIcon.svg");
    background-position: 0 50%;
}

.search__info-bell {
    height: 18px;
    width: 18px;
}

.filter {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.filter__item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    margin-left: 5px;
    background-color: #fff;
    height: 14px;
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
}

.filter--hidden {
    display: none;
}

.filter__title {
    font-style: normal;
    margin-left: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    /* identical to box height, or 16px */
    text-align: center;
    /* white */
    color: #FFFFFF;
}

.content-container {
    position: relative;
    background-color: #F6F7FF;
}

.content {
    margin-top: -65px;
    padding-bottom: 85px;
}

.create-card {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    height: 100px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
}

.create-card--flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.create-card__title {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #232036;
}

.create-card--button {
    width: 100%;
}

.viewed-card {
    margin-top: 10px;
    background: rgba(95, 3, 138, 0.589);
    border-radius: 10px;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}