.vkuiFormField__border  {
    background: #fff;
}

.header-create {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header-create__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 10px;
    word-wrap: wrap;
    color: #232036;
}

.create-container {
    background-color: #F6F7FF;
    padding-left: 24px;
    padding-right: 24px;
}

.create {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    min-height: 80vh;
    height: auto;
}

.create__input {
    border: none;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 25%;
    min-height: 45px;
    resize: none;
}

.create__input--descr {
    height: 120px;
}

.create__input--price {
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    padding-left: 15px;
}

.addPhoto::before {
    width: 22px;
    content: url('./../../img/cameraIcon.svg');
    text-align: center;
    display: inline-block;
    background: #fff;
    background-position: center;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    padding: 33px;
    padding-bottom: 29px;
    outline: none;
}

.photoList {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.custom-file-input {
    width: 95px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: url('./../../img/cameraIcon.svg');
    display: inline-block;
    background: #fff;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    padding: 35px;
    padding-bottom: 30px;
    outline: none;
    cursor: pointer;
}

.custom-file-input::before {
    content: url('./../../img/plusGreyIcon.svg');
    display: inline-block;
    background: #fff;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    padding: 35px;
    padding-bottom: 30px;
    outline: none;
    cursor: pointer;
}

.create__filter {
    padding-bottom: 160px;
}

.create-task__time {
    font-size: 14px;
    padding: 0;
    padding-left: 8px;
    margin: 2px;
}

.create__button {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.switch {
    background: #fff;
    /* hard shadow */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.error {
    border: 1px solid rgba(243, 12, 12, 0.623);
    border-radius: 11px;
    margin-bottom: 5px;
}

.error-date {
    border: 1px solid rgba(243, 12, 12, 0.623);
    border-radius: 8px;
    margin-bottom: 5px;
}

.error-price>* {
    border: 1px solid rgba(243, 12, 12, 0.623);
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 0;
}

.errorMsg {
    color: rgba(243, 12, 12, 0.842);
    display: block;
    padding-bottom: 5px;
    padding-left: 5px;
}