#root {
    height: 100%;
    background: #F6F7FF;
}

body {
    background: #F6F7FF;
}

*,
button {
    font-family: 'Open Sans', sans-serif;
}

button {
    cursor: pointer;
}
.container {
    height: auto;
    background: #F6F7FF;
}