.subFilter {
    padding-top: 10px;
}

.subFilter__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 8px;
    text-align: center;
    color: #232036;
}

.subFilter__search {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
}

.subFilter__input {
    width: 310px;
    height: 34px;
    padding-left: 30px;
    border: none;
    background: #F3F3F3;
    border-radius: 10px;
    background-image: url("./../../img/searchIcon.svg");
    background-repeat: no-repeat;
    background-position: 10px 50%;
    margin-bottom: 10px;
}

.subFilter__item {
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #232036;
}

.swipe-line {
    margin: 0 auto;
    display: block;
    width: 36px;
    height: 4px;
    border-top: 1px solid #ccc;
    background: #DADADA;
    mix-blend-mode: normal;
    opacity: 0.9;
    border-radius: 100px;
}

.subFilter__item:hover {
    background-color: #8E95C7;
    opacity: 0.3;
    border-radius: 10px;
}