.subFilter {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-bottom: 100px;
    padding-left: 24px;
    padding-right: 24px;
}

.subFilter__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 8px;
    text-align: center;
    color: #232036;
}

.subFilter__search {
    width: 100%;
}

.subFilter__input {
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding-left: 30px;
    border: none;
    background: #F3F3F3;
    border-radius: 10px;
    background-image: url("./../../img/searchIcon.svg");
    background-repeat: no-repeat;
    background-position: 10px 50%;
    margin-bottom: 10px;
}

.subFilter__item {
    margin: 0;
    cursor: pointer;
    color: #232036;
    border-bottom: 1px solid #E7E7E7;
}

.activeItem {
    background-color: #DBDEF7;
}

.swipe-line {
    margin: 0 auto;
    display: block;
    width: 36px;
    height: 4px;
    border-top: 1px solid #ccc;
    background: #DADADA;
    mix-blend-mode: normal;
    opacity: 0.9;
    border-radius: 100px;
}