.content-item {
    margin: 0 auto;
    width: 312px;
    min-height: 100px;
    max-height: 220px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.task {
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 18px;
}

.content-item__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #232036;
}

.content-item__descr {
    display: -webkit-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    /* or 13px */
    /* dark grey */
    color: #686868;
    -webkit-line-clamp: 3;
    /* количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-info {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
}

.content-info__date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    /* identical to box height, or 13px */
    text-align: center;
    /* dark white */
    color: #AEAEAE;
}

.content-info__price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 130%;
    color: #232036;
}

.content-info__button {
    width: 100%;
    padding: 7px;
    background-color: #787FB2;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}